body {
  background-color: white;
  color: #333;
  font: 18px / 1.5 BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
