.books {
  --horizontal-margin: 4px;
  --vertical-margin: 0.75em;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: var(--vertical-margin) var(--horizontal-margin);
}
@media (min-width: 768px) {
  .books {
    --horizontal-margin: 8px;
  }
}

.books > span,
.books > .book {
  margin-left: var(--horizontal-margin);
  margin-right: var(--horizontal-margin);
  width: var(--reduced-cover-size);
}
@media (min-width: 768px) {
  .books > span,
  .books > .book {
    width: var(--cover-size);
  }
}

.books > .book {
  margin-bottom: var(--vertical-margin);
  margin-top: var(--vertical-margin);
}
