.book {
  --delay: 150ms;
  border-radius: 0.375em;
  box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
  display: block;
  overflow: hidden;
  position: relative;
  transition: box-shadow var(--delay), opacity var(--delay);
  width: var(--cover-size);
}
.book:hover {
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}
a.book {
  color: inherit;
  text-decoration: none;
}

.book.new::before {
  -webkit-transform: translate(50%, 50%) rotate(-45deg);
  background-color: #ef5350;
  bottom: 0;
  color: white;
  content: 'NEW';
  font-size: 0.5em;
  font-weight: bold;
  height: 5em;
  position: absolute;
  right: 0;
  text-align: center;
  transform: translate(50%, 50%) rotate(-45deg);
  width: 100%;
}
@media (min-width: 768px) {
  .book.new::before {
    font-size: 0.625em;
  }
}

.book > :last-child {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 90%;
  padding: 0.357em 0.5em;
}

.book > :last-child > * {
  line-height: 1.2;
}
