.book {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
a.book {
  color: inherit;
  text-decoration: none;
}

.book > figure {
  margin: 0;
}

.book > figure > img {
  width: 100%;
}
