.books {
  --horizontal-margin: 4px;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: var(--horizontal-margin);
  margin-right: var(--horizontal-margin);
}
@media (min-width: 768px) {
  .books {
    --horizontal-margin: 8px;
  }
}

.books > * {
  margin: 0.75em var(--horizontal-margin);
}
