.book {
  --delay: 150ms;
  border-radius: 0.375em;
  box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
  display: block;
  overflow: hidden;
  transition: var(--delay) box-shadow, var(--delay) opacity;
  width: var(--cover-size);
}
.book:hover {
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}
a.book {
  color: inherit;
  text-decoration: none;
}

.book > :last-child {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 90%;
  padding: 0.357em 0.5em;
}

.book > :last-child > * {
  line-height: 1.2;
}
