.cover {
  background-size: calc(var(--reduced-cover-size) * var(--sprite-width))
    calc(var(--reduced-cover-size) * var(--sprite-height));
  padding-top: 100%;
  transition: opacity 150ms;
}
@media (min-width: 768px) {
  .cover {
    background-size: inherit;
  }
}
html:not(.scriptless) .cover:not([class*=' cover-']) {
  opacity: 0;
}
