.cover {
  padding-top: 100%;
  transition: opacity 150ms;
}
.book.offline .cover {
  background-size: var(--reduced-cover-size);
}
.book:not(.offline) .cover {
  background-size: calc(var(--reduced-cover-size) * var(--sprite-width))
    calc(var(--reduced-cover-size) * var(--sprite-height));
}
@media (min-width: 768px) {
  .book.offline .cover,
  .book:not(.offline) .cover {
    background-size: inherit;
  }
}
html:not(.scriptless) .book:not(.offline) .cover:not([class*=' cover-']) {
  opacity: 0;
}
