footer {
  background-color: #111;
  color: white;
  padding: 1em;
}

footer > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

footer a {
  color: #fa9dc8;
}

footer > :last-child > a:not(:last-child) {
  margin-right: 0.5em;
}
