img.lazy-loading {
  --delay: 150ms;
  -webkit-transition: opacity var(--delay);
  transition: opacity var(--delay);
}
img.lazy-loading:not([src]) {
  visibility: hidden;
}
img.lazy-loading:not(.loaded) {
  opacity: 0;
}
html.scriptless img.lazy-loading {
  display: none;
}
