.menu {
  --delay: 150ms;
  --height: 2em;
  margin-top: calc(-1 * var(--height) - 0.25em);
  position: absolute;
  right: 0;
}
.menu:focus {
  outline: none;
}

.menu > a {
  --border-radius: 0.375em;
  border-bottom-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: var(--height);
  opacity: 0.5;
  text-align: center;
  transition: background-color var(--delay);
  width: calc(var(--height) * 0.75);
}
.menu:focus > a {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu > ul {
  background-color: white;
  border-radius: 0.375em;
  box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  padding-left: 0;
  position: absolute;
  right: 0;
  transition: opacity var(--delay), visibility var(--delay);
  white-space: nowrap;
  z-index: 2;
}
.menu:not(:focus) > ul {
  opacity: 0;
  visibility: hidden;
}

.menu > ul > li {
  cursor: pointer;
  padding: 0.5em 0.75em;
}
.menu > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
