.navigation {
  --horizontal-padding: 1em;
  --vertical-margin: 1em;
  margin-bottom: var(--vertical-margin);
  margin-top: var(--vertical-margin);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
  text-align: center;
}

.navigation > a {
  color: #1f69c0;
}
