.source-description {
  --horizontal-padding: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}
@media (min-width: 480px) {
  .source-description {
    --logo-width: 150px;
    position: relative;
  }
}

.source-description > :not(img):not(noscript) {
  --vertical-margin: 0.25em;
  margin-bottom: var(--vertical-margin);
  margin-top: var(--vertical-margin);
  overflow-wrap: break-word;
  word-wrap: break-word;
}
@media (min-width: 480px) {
  .source-description > :not(img):not(noscript) {
    margin-left: var(--logo-width);
    padding-left: 1em;
  }
}

.source-description > img,
.source-description > noscript > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 60px;
  max-width: 100%;
}
@media (min-width: 480px) {
  .source-description > img,
  .source-description > noscript > img {
    -webkit-transform: translate(-50%, -50%);
    height: auto;
    left: calc(var(--logo-width) / 2 + var(--horizontal-padding));
    max-height: calc(var(--logo-width) / 2.5);
    max-width: var(--logo-width);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.source-description a {
  color: #1f69c0;
}
