.source-books > a[id]:empty {
  margin-top: -0.75em;
  position: absolute;
}
.source-books > a#saved:empty ~ * {
  --delay: 300ms;
  -webkit-transition: opacity var(--delay), visibility var(--delay);
  transition: opacity var(--delay), visibility var(--delay);
}
.source-books > a#saved:empty:not(.visible) ~ * {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
html.offline .source-books > a[id]:empty:not(#saved) ~ * {
  display: none;
}

.source-books > h2 {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.25em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  padding: 0.25em 0.5em;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 2;
}
.source-books > h2.sticky {
  box-shadow: 0 -0.25em white, 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
}

.source-books > h2 > a {
  display: none;
}
@media (min-width: 480px) {
  .source-books > h2 > a {
    display: block;
    position: absolute;
    right: 0.25em;
    text-align: center;
    text-decoration: none;
    width: 1.5em;
  }
}
