.source-books > h2 {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.375em;
  margin-bottom: 0;
  margin-top: 1.25em;
  padding: 0.25em 0.5em;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  top: 0;
  transition: 150ms box-shadow;
  z-index: 1000;
}
.source-books > h2.sticky {
  box-shadow: 0 -0.25em white, 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
}
