.viewer-action {
  --delay: 0.2s;
  display: inline-block;
  text-align: center;
  transition: var(--delay) color, var(--delay) text-shadow;
  width: var(--height);
}
.viewer-action:hover {
  color: white;
  text-shadow: 0 0 0.0625em white;
}
.viewer-action.disabled {
  opacity: 0.5;
}
.viewer-action:not(.disabled) {
  cursor: pointer;
}

.viewer-osd {
  --border-radius: 0.375em;
  --height: 2rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color);
  height: var(--height);
  line-height: var(--height);
  position: absolute;
  user-select: none;
}

#viewer {
  --color: whitesmoke;
  background-color: black;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

#viewer > canvas {
  left: 0;
  position: absolute;
  top: 0;
}

#viewer-close {
  border-bottom-left-radius: var(--border-radius);
  font-size: 1.5em;
  right: 0;
  top: 0;
}

#viewer-message {
  --horizontal-margin: 1em;
  align-items: center;
  bottom: 0;
  color: var(--color);
  display: flex;
  font-size: larger;
  justify-content: center;
  left: 0;
  margin-left: var(--horizontal-margin);
  margin-right: var(--horizontal-margin);
  position: absolute;
  right: 0;
  top: 0;
}

#viewer-navigation {
  border-top-left-radius: var(--border-radius);
  bottom: 0;
  right: 0;
}

#viewer-next,
#viewer-previous {
  font-size: 1.2em;
}

#viewer-numbers {
  --font-size: 0.9em;
  font-family: monospace;
  font-size: var(--font-size);
  position: relative;
  top: calc((1em - var(--font-size)) / -2);
}
