html.viewing > body {
  overflow: hidden;
  overscroll-behavior-x: none;
}

.viewer-action {
  --delay: 150ms;
  display: inline-block;
  text-align: center;
  -webkit-transition: color var(--delay), text-shadow var(--delay);
  transition: color var(--delay), text-shadow var(--delay);
  width: var(--height);
}
.viewer-action:hover {
  color: white;
  text-shadow: 0 0 0.0625em white;
}
.viewer-action.disabled {
  opacity: 0.3;
}
.viewer-action:not(.disabled) {
  cursor: pointer;
}
a.viewer-action {
  color: var(--color);
}

.viewer-edge {
  bottom: 0;
  max-width: 50%;
  min-width: 25%;
  position: absolute;
  top: 0;
  width: 320px;
}

.viewer-message {
  --horizontal-margin: 1em;
  -webkit-box-align: center;
  align-items: center;
  bottom: 0;
  color: var(--color);
  display: -webkit-box;
  display: flex;
  font-size: larger;
  -webkit-box-pack: center;
  justify-content: center;
  left: 0;
  margin-left: var(--horizontal-margin);
  margin-right: var(--horizontal-margin);
  position: absolute;
  right: 0;
  top: 0;
}
.viewer-message[hidden] {
  display: none;
}

.viewer-osd {
  --border-radius: 0.375em;
  --height: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color);
  height: var(--height);
  line-height: var(--height);
  position: absolute;
}

#viewer {
  --color: whitesmoke;
  --delay: 150ms;
  background-color: black;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity var(--delay), visibility var(--delay);
  transition: opacity var(--delay), visibility var(--delay);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1000;
}
#viewer[hidden] {
  display: block;
  opacity: 0;
  visibility: hidden;
}

#viewer-action-close {
  border-bottom-left-radius: var(--border-radius);
  font-size: 1.5em;
  right: 0;
  top: 0;
}

#viewer-action-next,
#viewer-action-previous {
  font-size: 1.2em;
}

#viewer-edge-next {
  right: 0;
}
#viewer-edge-next:not(.disabled) {
  cursor: e-resize;
}

#viewer-edge-previous {
  left: 0;
}
#viewer-edge-previous:not(.disabled) {
  cursor: w-resize;
}

#viewer-heading {
  bottom: auto;
  font-size: inherit;
  top: 0.375em;
}

#viewer-loading > img {
  --size: 1.375em;
  height: var(--size);
  margin-right: 0.5em;
  width: var(--size);
}

#viewer-navigation {
  border-top-left-radius: var(--border-radius);
  bottom: 0;
  right: 0;
}

#viewer-numbers {
  --font-size: 0.9em;
  font-family: monospace;
  font-size: var(--font-size);
  position: relative;
  top: calc((1em - var(--font-size)) / -2);
}

#viewer-pages > img {
  --delay: 150ms;
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity var(--delay);
  transition: opacity var(--delay);
}
#viewer-pages > img.fading {
  opacity: 0;
}

#viewer-progress {
  margin-left: 0.25em;
  position: relative;
}

#viewer-progress::before {
  content: '';
  display: inline-block;
}

#viewer-progress > span {
  left: 0;
  position: absolute;
}
